---
import Icon from '~/components/icon.astro';
import { cn } from '~/lib/cn';
import { packs } from '~/lib/packs';

type Props = {
	label: string;
	value: string;
	icon: Parameters<typeof Icon>[0]['name'];
	width?: string;
	options: Array<{
		label: string;
		value: string;
		selected: boolean;
	}>;
};
---

<label
	class={cn(
		'relative rounded-full flex items-center text-sm',
		'text-gray-800',
		'dark:text-gray-200',
	)}
	for="theme-switcher"
>
	<span class="sr-only">{Astro.props.label}</span>
	<Icon
		name={Astro.props.icon}
		class="label-icon pointer-events-none absolute inset-y-0 left-2 my-auto h-4 w-5"
	/>
	<select
		class={cn(
			'appearance-none bg-transparent px-8 rounded-full h-8 text-xs font-medium shadow',
			'bg-gray-100 hover:bg-white active:bg-gray-100',
			'dark:bg-gray-800 dark:hover:bg-gray-700 dark:active:bg-gray-800',
			packs.focusVisible,
		)}
		id="theme-switcher"
		value={Astro.props.value}
	>
		{
			Astro.props.options.map(({ value, selected, label }) => (
				<option value={value} selected={selected} set:html={label} />
			))
		}
	</select>
	<Icon
		name="down-caret"
		class="pointer-events-none absolute inset-y-0 right-2 my-auto h-4 w-4"
	/>
</label>
