---
import ExternalLinkHeading from '~/components/external-link-heading.astro';
import { ZeroWidthSpace } from '~/components/zero-width-space';
import { DocumentRenderer } from '~/keystatic/document-renderer';
import { reader } from '~/keystatic/reader';
import Layout from '~/layouts/layout.astro';
import { formatToAustralianDate, sortPosts } from '~/lib/posts';

const posts = sortPosts(await reader.collections.links.all());

const links = await Promise.all(
	posts.map(async (post) => {
		const content = await post.entry.content();
		return {
			slug: post.slug,
			title: post.entry.title,
			publishedAt: post.entry.publishedAt,
			linkedUrl: post.entry.linkedUrl,
			content,
		};
	}),
);
---

<Layout title="Posts">
	<div class="mx-auto flex max-w-prose flex-col gap-4">
		<div class="prose dark:prose-invert">
			<h1>Links</h1>
			<p class="[text-wrap:balance]">
				Interesting links with limited commentary.
				<br />
				For longer form content,{' '}
				<a href="/posts">check out the posts section</a> instead.
			</p>
		</div>
		<ul class="flex max-w-prose flex-col gap-1 sm:gap-3" role="list">
			{
				links.map(({ content, linkedUrl, publishedAt, slug, title }) => {
					const headingLevel = '2';
					const HeadingTag = `h${headingLevel}` as const;
					return (
						<li class="prose dark:prose-invert -mx-4 break-words bg-white p-4 shadow sm:rounded-xl dark:bg-gray-800">
							<div class="flex items-start justify-between gap-6">
								<ExternalLinkHeading href={linkedUrl} level={headingLevel}>
									{title}
								</ExternalLinkHeading>
								<div class="inline-flex items-baseline">
									<a href={`/links/${slug}`}>Permalink</a>
									<HeadingTag aria-hidden="true" class="mt-0">
										<ZeroWidthSpace />
									</HeadingTag>
								</div>
							</div>
							<DocumentRenderer document={content} />
							<time class="text-sm" datetime={publishedAt}>
								{formatToAustralianDate(publishedAt)}
							</time>
						</li>
					);
				})
			}
		</ul>
	</div>
</Layout>
